In [1]:
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv('ted_main.csv', skipinitialspace = True)

In [3]:
df.head(2)

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520

In [4]:
df['film_date'] = pd.to_datetime(df['film_date'],unit='s')
df['published_date'] = pd.to_datetime(df['published_date'],unit='s')

In [5]:
df['duration'] = df['duration']/60.0
df['duration'] = df['duration'].round(decimals=2)

In [6]:
df.head(2)

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,19.40,TED2006,2006-02-25,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,2006-06-27 00:11:00,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,16.28,TED2006,2006-02-25,43,Al Gore,Al Gore: Averting the climate crisis,1,2006-06-27 00:11:00,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520

In [7]:
df['name'].head()

0        Ken Robinson: Do schools kill creativity?
1             Al Gore: Averting the climate crisis
2                    David Pogue: Simplicity sells
3               Majora Carter: Greening the ghetto
4    Hans Rosling: The best stats you've ever seen
Name: name, dtype: object

In [8]:
df['name'] = df['name'].str.split(': ', 1, expand=True)[1]

In [9]:
df['name'].head()

0        Do schools kill creativity?
1        Averting the climate crisis
2                   Simplicity sells
3                Greening the ghetto
4    The best stats you've ever seen
Name: name, dtype: object

In [10]:
df['published_date'] = pd.to_datetime(df['published_date']).dt.date

In [11]:
df.rename(columns={'duration': 'duration(mins)', 'name': 'title'}, inplace=True)

In [12]:
df.head(2)

,comments,description,duration(mins),event,film_date,languages,main_speaker,title,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,19.40,TED2006,2006-02-25,60,Ken Robinson,Do schools kill creativity?,1,2006-06-27,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110
1,265,With the same humor and humanity he exuded in ...,16.28,TED2006,2006-02-25,43,Al Gore,Averting the climate crisis,1,2006-06-27,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520

In [13]:
df['ratings'] = df['ratings'].apply(lambda x: eval(str(x)))   #json string to json

In [13]:
df['ratings'][1]

[{'count': 544, 'id': 7, 'name': 'Funny'},
 {'count': 139, 'id': 3, 'name': 'Courageous'},
 {'count': 62, 'id': 2, 'name': 'Confusing'},
 {'count': 58, 'id': 1, 'name': 'Beautiful'},
 {'count': 258, 'id': 21, 'name': 'Unconvincing'},
 {'count': 113, 'id': 11, 'name': 'Longwinded'},
 {'count': 443, 'id': 8, 'name': 'Informative'},
 {'count': 413, 'id': 10, 'name': 'Inspiring'},
 {'count': 132, 'id': 22, 'name': 'Fascinating'},
 {'count': 56, 'id': 9, 'name': 'Ingenious'},
 {'count': 268, 'id': 24, 'name': 'Persuasive'},
 {'count': 116, 'id': 23, 'name': 'Jaw-dropping'},
 {'count': 131, 'id': 26, 'name': 'Obnoxious'},
 {'count': 203, 'id': 25, 'name': 'OK'}]

In [14]:
maxRating = []
tedType = []

for i in range(len(df['ratings'])):
    c = max([d['count'] for d in df['ratings'][i]])
    maxRating.append(c)
    
    for j in range(len(df['ratings'][i])):
        if(df['ratings'][i][j]['count'] == maxRating[i]):
            tedType.append(df['ratings'][i][j]['name'])
            break

In [15]:
len(tedType)

2550

In [15]:
df['popular_rating'] = tedType
df['popular_rating_count'] = maxRating

In [16]:
df.head(2)

,comments,description,duration(mins),event,film_date,languages,main_speaker,title,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,popular_rating,popular_rating_count
0,4553,Sir Ken Robinson makes an entertaining and pro...,19.40,TED2006,2006-02-25,60,Ken Robinson,Do schools kill creativity?,1,2006-06-27,"[{u'count': 19645, u'id': 7, u'name': u'Funny'...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110,Inspiring,24924
1,265,With the same humor and humanity he exuded in ...,16.28,TED2006,2006-02-25,43,Al Gore,Averting the climate crisis,1,2006-06-27,"[{u'count': 544, u'id': 7, u'name': u'Funny'},...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520,Funny,544

In [17]:
df['related_talks'] = df['related_talks'].apply(lambda x: eval(str(x)))
df['related_talks'][0]

[{'duration': 1008,
  'hero': 'https://pe.tedcdn.com/images/ted/172559_800x600.jpg',
  'id': 865,
  'slug': 'sir_ken_robinson_bring_on_the_revolution',
  'speaker': 'Ken Robinson',
  'title': 'Bring on the learning revolution!',
  'viewed_count': 7266103},
 {'duration': 1151,
  'hero': 'https://pe.tedcdn.com/images/ted/de98b161ad1434910ff4b56c89de71af04b8b873_1600x1200.jpg',
  'id': 1738,
  'slug': 'ken_robinson_how_to_escape_education_s_death_valley',
  'speaker': 'Ken Robinson',
  'title': "How to escape education's death valley",
  'viewed_count': 6657572},
 {'duration': 1027,
  'hero': 'https://pe.tedcdn.com/images/ted/3821f3728e0b755c7b9aea2e69cc093eca41abe1_2880x1620.jpg',
  'id': 2276,
  'slug': 'linda_cliatt_wayman_how_to_fix_a_broken_school_lead_fearlessly_love_hard',
  'speaker': 'Linda Cliatt-Wayman',
  'title': 'How to fix a broken school? Lead fearlessly, love hard',
  'viewed_count': 1617101},
 {'duration': 1138,
  'hero': 'https://pe.tedcdn.com/images/ted/e79958940573cc610ccb583619a54866c41ef303_2880x1620.jpg',
  'id': 892,
  'slug': 'charles_leadbeater_on_education',
  'speaker': 'Charles Leadbeater',
  'title': 'Education innovation in the slums',
  'viewed_count': 772296},
 {'duration': 376,
  'hero': 'https://pe.tedcdn.com/images/ted/0e3e4e92d5ee8ae0e43962d447d3f790b31099b8_800x600.jpg',
  'id': 1232,
  'slug': 'geoff_mulgan_a_short_intro_to_the_studio_school',
  'speaker': 'Geoff Mulgan',
  'title': 'A short intro to the Studio School',
  'viewed_count': 667971},
 {'duration': 830,
  'hero': 'https://pe.tedcdn.com/images/ted/71cde5a6fa6c717488fb55eff9eef939a9241761_2880x1620.jpg',
  'id': 2616,
  'slug': 'kandice_sumner_how_america_s_public_schools_keep_kids_in_poverty',
  'speaker': 'Kandice Sumner',
  'title': "How America's public schools keep kids in poverty",
  'viewed_count': 1181333}]

In [18]:
related_titles = []

for i in range(len(df['related_talks'])):
    related_titles.append([d['title'] for d in df['related_talks'][i]])

In [19]:
df['related_titles'] = related_titles

In [21]:
df.to_csv('ted_updated.csv', encoding='utf-8')

In [20]:
df.head()

,comments,description,duration(mins),event,film_date,languages,main_speaker,title,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,popular_rating,popular_rating_count,related_titles
0,4553,Sir Ken Robinson makes an entertaining and pro...,19.40,TED2006,2006-02-25,60,Ken Robinson,Do schools kill creativity?,1,2006-06-27,"[{u'count': 19645, u'id': 7, u'name': u'Funny'...","[{u'viewed_count': 7266103, u'hero': u'https:/...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110,Inspiring,24924,"[Bring on the learning revolution!, How to esc..."
1,265,With the same humor and humanity he exuded in ...,16.28,TED2006,2006-02-25,43,Al Gore,Averting the climate crisis,1,2006-06-27,"[{u'count': 544, u'id': 7, u'name': u'Funny'},...","[{u'viewed_count': 1751408, u'hero': u'https:/...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520,Funny,544,"[New thinking on the climate crisis, The busin..."
2,124,New York Times columnist David Pogue takes aim...,21.43,TED2006,2006-02-24,26,David Pogue,Simplicity sells,1,2006-06-27,"[{u'count': 964, u'id': 7, u'name': u'Funny'},...","[{u'viewed_count': 4843421, u'hero': u'https:/...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292,Funny,964,"[10 top time-saving tech tips, The first secre..."
3,200,"In an emotionally charged talk, MacArthur-winn...",18.60,TED2006,2006-02-26,35,Majora Carter,Greening the ghetto,1,2006-06-27,"[{u'count': 760, u'id': 3, u'name': u'Courageo...","[{u'viewed_count': 702642, u'hero': u'https://...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550,Inspiring,1070,"[3 stories of local eco-entrepreneurship, A ne..."
4,593,You've never seen data presented like this. Wi...,19.83,TED2006,2006-02-22,48,Hans Rosling,The best stats you've ever seen,1,2006-06-27,"[{u'count': 3202, u'id': 9, u'name': u'Ingenio...","[{u'viewed_count': 1345319, u'hero': u'https:/...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869,Informative,5433,"[Own your body's data, A visual history of hum..."