In [1]:
import pandas as pd

In [94]:
df = pd.read_csv('ted_updated.csv', skipinitialspace = True, parse_dates=['film_date','published_date'])

In [95]:
df['published_year'] = df['published_date'].dt.year

In [96]:
df.head(1)

,Unnamed: 0,comments,description,duration(mins),event,film_date,languages,main_speaker,title,num_speaker,...,related_talks,speaker_occupation,tags,title.1,url,views,popular_rating,popular_rating_count,related_titles,published_year
0,0,4553,Sir Ken Robinson makes an entertaining and pro...,19.4,TED2006,2006-02-25,60,Ken Robinson,Do schools kill creativity?,1,...,"[{u'viewed_count': 7266103, u'hero': u'https:/...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110,Inspiring,24924,"[Bring on the learning revolution!, How to esc...",2006

In [97]:
df.sort_values(['published_year', 'views'], ascending=[True, False], inplace = True)

In [98]:
df2 = df.groupby('published_year').head(3)

In [99]:
df2.columns

Index([u'Unnamed: 0', u'comments', u'description', u'duration(mins)', u'event',
       u'film_date', u'languages', u'main_speaker', u'title', u'num_speaker',
       u'published_date', u'ratings', u'related_talks', u'speaker_occupation',
       u'tags', u'title.1', u'url', u'views', u'popular_rating',
       u'popular_rating_count', u'related_titles', u'published_year'],
      dtype='object')

In [136]:
#df2.drop(columns=['title.1', 'popular_rating', 'popular_rating_count','ratingTotalCount'], axis=1, inplace=True)

In [101]:
df2.columns

Index([u'Unnamed: 0', u'comments', u'description', u'duration(mins)', u'event',
       u'film_date', u'languages', u'main_speaker', u'title', u'num_speaker',
       u'published_date', u'ratings', u'related_talks', u'speaker_occupation',
       u'tags', u'url', u'views', u'related_titles', u'published_year'],
      dtype='object')

In [102]:
len(df2)

36

In [105]:
df2.reset_index(inplace=True, drop=True)

In [107]:
df2['ratings'] = df2['ratings'].apply(lambda x: eval(str(x)))   #json string to json

C:\Users\Rajan\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [108]:
df2['ratings'][1]

[{u'count': 1102, u'id': 7, u'name': u'Funny'},
 {u'count': 721, u'id': 3, u'name': u'Courageous'},
 {u'count': 377, u'id': 21, u'name': u'Unconvincing'},
 {u'count': 301, u'id': 2, u'name': u'Confusing'},
 {u'count': 706, u'id': 1, u'name': u'Beautiful'},
 {u'count': 397, u'id': 9, u'name': u'Ingenious'},
 {u'count': 285, u'id': 11, u'name': u'Longwinded'},
 {u'count': 1038, u'id': 8, u'name': u'Informative'},
 {u'count': 5211, u'id': 10, u'name': u'Inspiring'},
 {u'count': 1350, u'id': 22, u'name': u'Fascinating'},
 {u'count': 2423, u'id': 24, u'name': u'Persuasive'},
 {u'count': 441, u'id': 25, u'name': u'OK'},
 {u'count': 669, u'id': 23, u'name': u'Jaw-dropping'},
 {u'count': 335, u'id': 26, u'name': u'Obnoxious'}]

In [76]:
total_count = sum([d['count'] for d in df2['ratings'][1]])

poitive_count = sum([d['count'] for d in df2['ratings'][1] 
         if d['name'] in ['Funny','Courageous','Beautiful','Informative',
                            'Inspiring','Fascinating','Ingenious','Persuasive','Jaw-dropping'] ])

In [80]:
total_count

15356

In [143]:
positivity = []
totalPositiveCount = []

for i in range(len(df2['ratings'])):
    total_count = sum([d['count'] for d in df2['ratings'][i]])
    poitive_count = sum([d['count'] for d in df2['ratings'][i] 
         if d['name'] in ['Funny','Courageous','Beautiful','Informative',
                            'Inspiring','Fascinating','Ingenious','Persuasive','Jaw-dropping'] ])
    totalPositiveCount.append(poitive_count)
    positivity.append(poitive_count/float(total_count))

In [146]:
df2['ratingTotalPositiveCount'] = totalPositiveCount
df2['ratingPositivity'] = positivity

C:\Users\Rajan\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\Rajan\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [147]:
df2.head(2)

,Unnamed: 0,comments,description,duration(mins),event,film_date,languages,main_speaker,title,num_speaker,...,ratings,related_talks,speaker_occupation,tags,url,views,related_titles,published_year,ratingPositivity,ratingTotalPositiveCount
0,0,4553,Sir Ken Robinson makes an entertaining and pro...,19.40,TED2006,2006-02-25,60,Ken Robinson,Do schools kill creativity?,1,...,"[{u'count': 19645, u'id': 7, u'name': u'Funny'...","[{u'viewed_count': 7266103, u'hero': u'https:/...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",https://www.ted.com/talks/ken_robinson_says_sc...,47227110,"[Bring on the learning revolution!, How to esc...",2006,0.975365,91538
1,5,672,"Tony Robbins discusses the ""invisible forces"" ...",21.75,TED2006,2006-02-02,36,Tony Robbins,Why we do what we do,1,...,"[{u'count': 1102, u'id': 7, u'name': u'Funny'}...","[{u'viewed_count': 21190809, u'hero': u'https:...",Life coach; expert in leadership psychology,"['business', 'culture', 'entertainment', 'goal...",https://www.ted.com/talks/tony_robbins_asks_wh...,20685401,"[My stroke of insight, 8 secrets of success, T...",2006,0.886754,13617

In [148]:
df2.to_csv('ted_final.csv')